{% extends "campusthrift/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}

    <div class="content11">
        <div class="main-1">
            <div class="container11">
                <div class="login-page">
                    <div class="account_grid">
                        <div class="col-md-12">

                                {% if error %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        {{ error }}
                                    </div>

                                {% endif %}



                                <h4>You're almost there!</h4>
                        <p> Confirm your purchase here.</p>
                        <h4 class="pull-right">Order #{{ order.primary_key }}</h4>
                        <br>
                        <br>


                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Shipping Method
                                </th>
                                <th>
                                    Base Price
                                </th>
                                <th>
                                    Shipping Price
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in order_items %}
                                <tr>
                                    <td>
                                        {{ item.item.title }}
                                    </td>
                                    <td>
                                        {% if item.shipping_method == 1 %}
                                            On Campus
                                            Pickup: {{ item.item.user.user.school }} @ {{ item.item.meeting_place }}
                                        {% elif item.shipping_method == 2 %}

                                            Off Campus

                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ item.price }}
                                    </td>
                                    <td>

                                        {% if item.shipping_method == 1 %}
                                           FREE!
                                        {% elif item.shipping_method == 2 %}

                                            {{ item.shipping_price }}

                                        {% endif %}
                                    </td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                    <h4 class="pull-right">Final Total</h4>
                            <div class="clearfix"></div>
                     <h4 class="pull-right">${{ order.final_total }}</h4>

                            <div class="clearfix"></div>
                            <br>
                    <form method="post">
                        {% csrf_token %}

                        <button class="btn acount-btn pull-right">Checkout</button>


                    </form>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>






{% endblock content %}