{% extends "campusthrift/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}
 <style>
   body {
    background-image: url(../../../static/images/background.png);
       background-repeat: repeat;
   }
</style>
{% if error %}
    <div class="alert alert-danger alert-dismissible" role="alert">
  {{ error }}
</div>

{% endif %}

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

    <div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Thanks!</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-12 text-center">

                    <h4>Thanks for your purchase!</h4> <p>Your purchase details will appear on your profile page.</p>

                  </div>
              </div>
          </div>
      </div>
    </div>



{% endblock content %}