{% extends "campusthrift/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}

<!-- Social share features -->
<script>
   window.fbAsyncInit = function() {
     FB.init({
       appId      : '150642302063337',
       xfbml      : true,
       version    : 'v2.7'
     });
   };
   (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
 </script>
 
 <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
 
 <script
     type="text/javascript"
     async defer
     src="//assets.pinterest.com/js/pinit.js"
 ></script>
 
     <div class="container" style="text-align: center; padding-top:6em;">
         <h1 ><b>Thanks for your purchase!</b></h1> 
         <br>
         <h3>Show off your new stuff!</h3>
 
         <!-- Facebook Share Button -->
         <div class="container">
           <div style="padding-top:1em; padding-bottom:1.5em;" class="fb-share-button" data-href="https://campusthrift.com/" data-layout="button"  data-size="large" data-mobile-iframe="true">
               <a class="fb-xfbml-parse-ignore" target="_blank" >Share</a> 
          </div>
           <br>

          <!-- Twitter Share Button -->
          <link rel="canonical" href="https://www.campusthrift.com/">
          <a href="https://twitter.com/intent/tweet?text=I%20Just%20Made%20This%20Purchase%20at%20Campus%20Thrift!%20" class="twitter-share-button" data-size="large" data-show-count="false" >Tweet</a>
          <br><br>
        
          <!-- Pintrest Share Button -->
          <a href="https://www.pinterest.com/pin/create/button/" data-pin-tall="28px">
              <img src="http://cdn.mysite.com/myimage.jpg"  data-pin-url="https://www.campusthrift.com/"/>
              <img src="\static\images\cactuslooking.png"  data-pin-media="http://cdn.mysite.com/myimage_fullsize.jpg" data-pin-description="Baked Mozzarrella Cheese Sticks"/>
          </a>

        </div>
        
         <p style="padding-top:5em;">Your purchase details will appear on your profile page.</p>
    </div>

<!--
    <div class="content11">
        <div class="main-1">
            <div class="container11">
                <div class="login-page">
                    <div class="account_grid">
                        <div class="col-md-12 text-center">
                            <h4>Thanks for your purchase!</h4> <p>Your purchase details will appear on your profile page.</p>
                                <h3>Share this </h3>
                                <div style="padding-top:1em;" class="fb-share-button" data-href="https://campusthrift.com/" data-layout="button_count" data-size="large" data-mobile-iframe="true">
                                    <a class="fb-xfbml-parse-ignore" target="_blank" >Share</a> 
                                </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->




{% endblock content %}




