

{% extends "campusthrift/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}
    <style>
        body {
            background-image: url(../../../static/images/background.png);
            background-repeat: repeat;
        }

        p {
            color: #000;
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
            font-weight: 500;
            line-height: 32px;
            margin: 0 0 24px;
        }


</style>


        <h1 class="">About</h1>
    
    <div class="row about-box text-center">
        <i class="fa fa-globe fa-5x" aria-hidden="true"></i>
        <div class="col-lg-12 ">          
            <p>

                Campus Thrift LLC is an online thrift store where

                college kids can buy and sell pre-owned items. The

                company’s CEO, Emily Bocchino, has always looked

                for the best deals and last year her debate team even

                gave her an award for being the team’s best thrifter

                due to her purchase of never-been- worn-before

                Calvin Klein suit for five dollars at a yard sale. But

                with college coming up close, Emily realized that a

                single-parent income might not be able to get her

                everything she needed for college. That’s when she

                realized that many other college students were also in

                the same situation as she was, and that a business

                connecting all these students would benefit them

                greatly.
            </p>
        </div>
    </div>

    <div class="row about-box">
        <div class="col-xs-12 text-center">
            <i class="fa fa-gift fa-5x" aria-hidden="true"></i>
            <p class="text-center">

                On competitor sites, you don’t always know who

                you’re buying from, and could even get into

                dangerous situations. With Campus Thrift, students

                are selling to students, keeping the money and

                process within the group that really needs it the most

                by regulating the users of the site by .edu emails to

                ensure that it’s a site just for students. At the same

                time, the site keeps thrifting quirky and cool, giving

                the feeling that the person you’re buying from is

                wearing flannel and listening to alternative music,

                rather than a 40-something Game of Thrones

                cosplayer eating Cheetos.

                Although we have only been around a matter of

                months, we are already starting to gain the attention

                of the business community. For example, Campus

                Thrift came in as runner-up in the regional Young

                Entrepreneurs Academy competition.
            </p>
        </div>
    </div>
   
    <div class="row about-box">
        <div class="col-xs-12 text-center">
            <i class="fa fa-hand-peace-o  fa-5x" aria-hidden="true"></i>
            <p class="text-center">

                With your help, Campus Thrift LLC can become a

                reality. Get our name out there and get people talking,

                that way we’re one step closer to getting you the

                things you need!
            </p>
        </div>
    </div>









{% endblock content %}
