{% load staticfiles %}
<!DOCTYPE html>

<head>


    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    {#    <link rel="stylesheet" href="{% static "css/custom_styles.css" %}">#}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
    <link rel="stylesheet" href="{% static "css/flexslider.css" %}">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>

    <script src="{% static "js/jquery-1.12.3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.flexslider.js" %}"></script>
    <script type="text/javascript" src="{% static "js/imagezoom.js" %}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    {#    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>#}

    <link rel="stylesheet" href="{% static "css/magnifier.css" %}">
    <script type="text/javascript" src="{% static "js/jquery.imageLens.js" %}"></script>


</head>


<body>

<nav class="navbar navbar-default navbar-fixed-top">
{#    <div class="container">#}
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img
                    src="{% static "images/campusthrift logo.png" %}" alt="Logo">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="col-sm-3 col-md-3 search pull-right">
                <form class="navbar-form" action='/shop' role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
                </form>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/shop">Shop</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/shop/cart">Cart <span class="badge">{{ request.session.cart|length }}</span></a></li>
                    <li><a href="/shop/new">Sell New Item</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/about">About Us</a></li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
{#    </div>#}
    <!-- /.container-fluid -->
</nav>


<div class="content-area">
    {% block content %}
{% endblock %}

</div>





<!--footer-->
<div class="footer-section">
    <div class="clearfix"></div>
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-2 footer-grid">
                <h4>company</h4>
                <ul>
                    <li><a href="products.html">products</a></li>
                    <li><a href="#">Work Here</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Happenings</a></li>
                    <li><a href="#">Dealer Locator</a></li>
                </ul>
            </div>
            <div class="col-md-2 footer-grid">
                <h4>service</h4>
                <ul>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Warranty</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-2 footer-grid">
                <h4>order & returns</h4>
                <ul>
                    <li><a href="#">Order Status</a></li>
                    <li><a href="#">Shipping Policy</a></li>
                    <li><a href="#">Return Policy</a></li>
                    <li><a href="#">Digital Gift Card</a></li>
                </ul>
            </div>
            <div class="col-md-2 footer-grid">
                <h4>legal</h4>
                <ul>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Social Responsibility</a></li>
                </ul>
            </div>
            <div class="col-md-4 footer-grid1">
                <div class="social-icons">
                    <a href="#"><i class="icon"></i></a>
                    <a href="#"><i class="icon1"></i></a>
                    <a href="#"><i class="icon2"></i></a>
                    <a href="#"><i class="icon3"></i></a>
                    <a href="#"><i class="icon4"></i></a>
                </div>

                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--footer-->

</body>
</html>