{% extends "campusthrift/base.html" %}
{% load staticfiles %}
{% block content %}

    <style>
 .content-area {

    padding: 0;
}
    </style>


    <script src="{% static "js/mason.js" %}"></script>

    <!--header-->
    <!-- Header -->
    <div class="full parent gallery">
    <div class="child text-center white">
            <h1 class="large text-shadow">Campus Thrift</h1>
            <title>Campus Thrift</title>
            <p class="med text-shadow">The first online thrift store exclusively for college students. Sign in with your
                school
                administered .edu email, and start buying and selling between students nationwide. Click <a href="http://www.campusthrift.com/about">here</a> to find out more about us. Or continue down to start thrifting!<p/>
        </div>
    </div>


    <div class="row gallery-prod">

        <center><h2>New Items</h2></center>
<br>

            {% for item in items %}
        
                <div class="col-md-3 col-xs-12 col-sm-6">
                <a href="/shop/view/{{ item.pk }}"><img class="center-image" src="{{ item.images.all.0.image.url }}"  height="200px" width="200px" alt=""/>
                    <div class="gallery-info">
                        <div class="quick">
                            <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
                        </div>
                    </div>
                </a>
                <div class="galy-info">
                    <p>{{ item.title|truncatechars:20 }}</p>
                    <div class="galry">
                        <div class="prices">
                            <h5 class="item_price">${{ item.price }}</h5>
                        </div>


                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            {% endfor %}




                <div class="clearfix"></div>


    </div>


    {#    <!-- Header -->#}
    {#    <div class="full parent">#}
    {#        <div class="child text-center white">#}
    {#            <h1 class="large text-shadow">Campus Thrift</h1>#}
    {#            <h5 class="med text-shadow">The first online thrift store exclusively for college students. Sign in with your#}
    {#                school#}
    {#                administered .edu email, and start buying and selling between students nationwide.</h5>#}
    {#        </div>#}
    {#    </div>#}
    {##}
    {#    <div class="row">#}
    {##}
    {#        {% for item in items %}#}
    {##}
    {#            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 images">#}
    {#                <a href="/shop/view/{{ item.pk }}">#}
    {#                    <div class="hovereffect">#}
    {#                        <img class="image-display" src="{{ item.images.all.0.image.url }}" alt="">#}
    {#                        <div class="overlay">#}
    {#                            <h2>{{ item.title }}</h2>#}
    {#                            <br>#}
    {#                            <br>#}
    {#                            <h4>${{ item.price }}</h4>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </a>#}
    {#            </div>#}
    {##}
    {#        {% endfor %}#}
    {#    </div>#}
    {##}
    {##}
    {##}
    {##}
    {##}
    {#    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->#}
    {#    <div class="scroll-top page-scroll visible-xs visible-sm">#}
    {#        <a class="btn btn-primary" href="#page-top">#}
    {#            <i class="fa fa-chevron-up"></i>#}
    {#        </a>#}
    {#    </div>#}
    {##}
    {##}
    {#    <script>#}
    {#        $(document).ready(function () {#}
    {#            function getRandomSize(min, max) {#}
    {#                return Math.round(Math.random() * (max - min) + min);#}
    {#            }#}
    {##}
    {#            for (var i = 0; i < 25; i++) {#}
    {#                var width = getRandomSize(200, 400);#}
    {#                var height = getRandomSize(200, 400);#}
    {#                $('#photos').append('<img src="http://www.unsplash.it/' + width + '/' + height + '/" alt="pretty kitty">');#}
    {#            }#}
    {#        });#}
    {#    </script>#}



{% endblock content %}
