{% extends "campusthrift/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}
 <style>
   body {
    background-image: url(../../../static/images/background.png);
       background-repeat: repeat;
   }
</style>
{% if error %}
    <div class="alert alert-danger alert-dismissible" role="alert">
  {{ error }}
</div>

{% endif %}

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

    <div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Login to <b>CampusThrift.com</b></h4> or go back to our <a href="/">main site</a>.
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-6">
                      <div class="well">
                          <form id="loginForm" method="POST" enctype="multipart/form-data">
                            {%  csrf_token %}
                                {{ form | crispy}}
                            <button type="submit" class="save btn btn-default black-button">Login</button>

                              <br>
                              If you forgot your password, please go <a href="/password_reset">here</a>.
                            </form>
                      </div>
                  </div>
                  <div class="col-xs-6">
                      <p class="lead">Register now for <span class="text-success">FREE</span></p>
                      <ul class="list-unstyled" style="line-height: 2">
                          <li><span class="fa fa-check text-success"></span> See all your orders!</li>
                          <li><span class="fa fa-check text-success"></span> Fast checkout!</li>
                          <li><span class="fa fa-check text-success"></span> First listing is free!</li>
                          <li><span class="fa fa-check text-success"></span> Save money and support fellow students!</li>
                      </ul>
                      <p><a href="./register" class="btn btn-info btn-block">Yes please, register now!</a></p>
                  </div>
              </div>
          </div>
      </div>
    </div>



{% endblock content %}