{% extends "campusthrift/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}

<div class="row login-row">
    <div class="col-sm-6">
        <div class="well login-form-box">
            <form id="loginForm" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="login-btn" style="border: 0; background: transparent" >
                    <img src="../../../static/images/submit.png" alt="submit" />
                </button>
                <br>
                <a href="/password_reset">forgot password</a>
            </form>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="register-form-box">
            <h3>Register now for <span class="text-success">FREE</span></h3>
            <ul class="list-unstyled" style="line-height: 2">
                <li><span class="fa fa-check text-success"></span> See all your orders!</li>
                <li><span class="fa fa-check text-success"></span> Fast checkout!</li>
                <li><span class="fa fa-check text-success"></span> First listing is free!</li>
                <li><span class="fa fa-check text-success"></span> Save money and support fellow
                    students!
                </li>
            </ul>
            <p><a href="./register" class="btn btn-success register-btn ">Yes please, register now!</a></p>
        </div>
    </div>
</div>


{% endblock content %}