{% extends "campusthrift/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}


    <div class="content11">
        <div class="main-1">
            <div class="container11">
                <div class="login-page">
                    <div class="account_grid">
                        {% if error %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                {{ error }}
                            </div>

                        {% endif %}
                        <div class="col-xs-12">

                                <form id="signup-form" method="post" enctype="multipart/form-data">

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="well">

                                                {% csrf_token %}
                                                <h4>Your new password</h4>
                                                <p class="small">Please enter the new password you would like for your
                                                    account.
                                                </p>


                                                <div class="form-group required">
                                                    <label for="password" class='control-label'>Password</label>
                                                    <input type="password" class="form-control" id="password"
                                                           name="password"
                                                           required="true">
                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                    <button type="submit" class="save btn btn-default black-button">Reset Password
                                    </button>
                                </form>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock content %}