{% extends "campusthrift/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}
    <style>
        body {
            background-image: url(../../../static/images/background.png);
            background-repeat: repeat;
        }
    </style>

    <div id="login-overlay" class="modal-dialog modal-lg" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Cart</h4>
            </div>
            <div class="modal-body">

                <div class="stepwizard">
                    <div class="stepwizard-row">
                        <div class="stepwizard-step">
                            <li class="btn btn-primary btn-circle"><i class="fa fa-check"></i></li>
                            <p>Shop</p>
                        </div>
                        <div class="stepwizard-step">
                            <li class="btn btn-info btn-circle"><i class="fa fa-minus" aria-hidden="true"></i></li>
                            <p>Shipping</p>
                        </div>
                        <div class="stepwizard-step">
                            <li class="btn btn-info btn-circle"><i class="fa fa-minus" aria-hidden="true"></i></li>
                            <p>Payment</p>
                        </div>
                        <div class="stepwizard-step">
                            <li class="btn btn-info btn-circle"><i class="fa fa-minus" aria-hidden="true"></i></li>
                            <p>Done</p>
                        </div>
                    </div>
                </div>

                <table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Shipping</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
                    {% for item in cart %}
						<tr>
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src="{{ item.images.all.0.image.url }}" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin">{{ item.title }}</h4>
										<p>{{ item.description|truncatechars:100 }}</p>
									</div>
								</div>
							</td>
							<td data-th="Price">${{ item.price }}</td>
							<td data-th="Shipping">${{ item.shipping_price }}</td>
							<td data-th="Subtotal" class="text-center">${{ item.price|add:item.shipping_price }}</td>
							<td class="actions" data-th="">
								<button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
							</td>
						</tr>
                    {% endfor %}
					</tbody>
					<tfoot>
						<tr class="visible-xs">
							<td class="text-center"><strong>Total 1.99</strong></td>
						</tr>
						<tr>
							<td><a href="/shop" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
							<td><a href="/checkout" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
						</tr>
					</tfoot>
				</table>



{#                        {% for item in cart %}#}
{#                            <div class="row">#}
{#                                <div class="col-md-6">#}
{#                                    <div class="cart-item-detail">#}
{#                                        <h4>{{ item.title }}</h4>#}
{#                                        <img src="{{ item.images.all.0.image.url }}" height="100px" width="100px">#}
{#                                    </div>#}
{#                                    <div class="cart-seller-detail">#}
{#                                        <h4>Sold by:</h4>#}
{#                                        <p>{{ item.user.first_name }}</p>#}
{#                                        <p>{{ item.user.username }}</p>#}
{#                                    </div>#}
{#                                    <div class="cart-remove">#}
{#                                        Delete#}
{#                                    </div>#}
{##}
{##}
{#                                </div>#}
{#                                <div class="col-md-6">#}
{##}
{#                                    <i class="fa fa-times-circle-o pull-right" aria-hidden="true"></i>#}
{#                                    <div class="pull-right">#}
{#                                        <h4>Price:</h4>#}
{#                                        <p>{{ item.price }}</p>#}
{#                                        <h4>Shipping Price:</h4>#}
{#                                        <p>{{ item.shipping_price }}</p>#}
{#                                    </div>#}
{##}
{#                                </div>#}
{#                            </div>#}
{#                            <hr>#}
{#                        {% endfor %}#}





{#                    {{ request.session.cart|length }}#}




                            </div>
        </div>
    </div>





{% endblock content %}