{% extends "campusthrift/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}
    <style>

        .error {
            margin: 40px;
            text-align: center;
        }

        .error-code {
            bottom: 60%;
            color: #2d353c;
            font-size: 96px;
            line-height: 100px;
        }

        .error-desc {
            font-size: 12px;
            color: #647788;
        }

        .m-b-10 {
            margin-bottom: 10px !important;
        }

        .m-b-20 {
            margin-bottom: 20px !important;
        }

        .m-t-20 {
            margin-top: 20px !important;
        }

    </style>

    <div class="content11">
<div class="cart-items">
	<div class="container11">
			 <h2>My Shopping Backpack</h2>

            {% if cart %}

             {% for item in cart %}

                 <div class="cart-header">
				 <div class="close1"> </div>
				 <div class="cart-sec simpleCart_shelfItem">
						<div class="cart-item cyc">
							 <img src="{{ item.images.all.0.image.url }}" class="img-responsive" style="max-height: 175px;" alt="">
						</div>
					   <div class="cart-item-info">
						<h3><a href="/shop/view/{{ item.pk }}"> {{ item.title }} </a></h3>
                       <a href="/shop/cart/{{ item.pk }}/delete" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-trash

"></span></a>
                       <div class="clearfix"></div>
						<ul class="qty">
							<li><p>Campus Information:</p></li>

                                {% if item.shipping == 1 or item.shipping == 3 %}
                                    <li><p>
                                    Campus: {{ item.user.user.school }}, Meeting Place: {{ item.meeting_place }}
                                    </p></li>
                                {% endif %}

						</ul>
                        <ul class="qty">
							<li><p>Deliver Options:</p></li>
							<li><p>
                                    {% if item.shipping == 1 %}
                                        On Campus Pickup Only
                                    {% elif item.shipping == 2 %}
                                        Off Campus Shipping Only
                                    {% else %}
                                        Off Campus Shipping or On Campus Pickup
                                    {% endif %}
                            </p></li>
						</ul>
							 <div class="delivery">

							 <span>${{ item.price }}</span>
							 <div class="clearfix"></div>
				        </div>
					   </div>
					   <div class="clearfix"></div>

				  </div>
			 </div>

             {% endfor %}

                                 <a href="/checkout" class="btn btn-primary pull-right">Checkout <i class="fa fa-angle-right"></i></a>
            {% else %}
                <div class="error">
                                        <div class="error-code m-b-10 m-t-20"><img src="{% static "images/cactuslooking.png" %}"></div>
                                        <h3 class="font-bold">We couldn't find any items in your cart..</h3>

                                        <div class="error-desc">
                                            Sorry, but it looks like your cart is empty. Try adding some from the shop page. <br>
                                            Happy Thrifting!
                                            <div>
                                                <a class=" login-detail-panel-button btn" href="/shop">
                                                    <i class="fa fa-arrow-left"></i>
                                                    Go back to Shop
                                                </a>
                                            </div>
                                        </div>
                                    </div>
            {% endif %}

    </div>
</div>

{#    <div id="login-overlay" class="modal-dialog modal-lg" style="width: 80%">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <h4 class="modal-title" id="myModalLabel">Cart</h4>#}
{#            </div>#}
{#            <div class="modal-body">#}
{##}
{#            {% if cart %}#}
{##}
{#                <table id="cart" class="table table-hover">#}
{#                    <thead>#}
{#                    <tr>#}
{#                        <th>Product</th>#}
{#                        <th>Price</th>#}
{#                        <th>Actions</th>#}
{#                    </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                    {% for item in cart %}#}
{#                        <tr>#}
{#                            <td data-th="Product">#}
{#                                <div class="row">#}
{#                                    <div class="col-sm-2 hidden-xs"><img src="{{ item.images.all.0.image.url }}"#}
{#                                                                         alt="..." class="img-responsive"/></div>#}
{#                                    <div class="col-sm-10">#}
{#                                        <h4 class="nomargin">{{ item.title }}</h4>#}
{#                                        <p>{{ item.description|truncatechars:100 }}</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </td>#}
{#                            <td data-th="Price">${{ item.price }}</td>#}
{#                            <td class="actions" data-th="">#}
{#                                <a href="/shop/cart/{{ item.pk }}/delete" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></a>#}
{#                            </td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                    </tbody>#}
{##}
{##}
{#                </table>#}
{#            {% else %}#}
{#                <h4 class="text-center">It looks like your cart is empty. Visit the store and add some items! Happy thrifting!</h4>#}
{#                <br>#}
{#            {% endif %}#}
{#                <a href="/shop" class="btn btn-warning pull-left"><i class="fa fa-angle-left"></i> Continue Shopping</a>#}
{#                {% if cart %}#}
{#                     <a href="/checkout" class="btn btn-success pull-right">Checkout <i class="fa fa-angle-right"></i></a>#}
{#                {% else %}#}
{#                     <a href="/checkout" class="btn btn-success pull-right disabled">Checkout <i class="fa fa-angle-right"></i></a>#}
{#                {% endif %}#}
{##}
{##}
{##}
                {#                        {% for item in cart %}#}
                {#                            <div class="row">#}
                {#                                <div class="col-md-6">#}
                {#                                    <div class="cart-item-detail">#}
                {#                                        <h4>{{ item.title }}</h4>#}
                {#                                        <img src="{{ item.images.all.0.image.url }}" height="100px" width="100px">#}
                {#                                    </div>#}
                {#                                    <div class="cart-seller-detail">#}
                {#                                        <h4>Sold by:</h4>#}
                {#                                        <p>{{ item.user.first_name }}</p>#}
                {#                                        <p>{{ item.user.username }}</p>#}
                {#                                    </div>#}
                {#                                    <div class="cart-remove">#}
                {#                                        Delete#}
                {#                                    </div>#}
                {##}
                {##}
                {#                                </div>#}
                {#                                <div class="col-md-6">#}
                {##}
                {#                                    <i class="fa fa-times-circle-o pull-right" aria-hidden="true"></i>#}
                {#                                    <div class="pull-right">#}
                {#                                        <h4>Price:</h4>#}
                {#                                        <p>{{ item.price }}</p>#}
                {#                                        <h4>Shipping Price:</h4>#}
                {#                                        <p>{{ item.shipping_price }}</p>#}
                {#                                    </div>#}
                {##}
                {#                                </div>#}
                {#                            </div>#}
                {#                            <hr>#}
                {#                        {% endfor %}#}
{##}
{##}
                {#                    {{ request.session.cart|length }}#}
{##}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}





{% endblock content %}