{% extends "campusthrift/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="padding">

        <div class="row padding">
            <div class="col-md-2">
                <ul>
                    <li><p>Men's Shirts</p></li>
                     <li><p>Women's Shirts</p></li>
                     <li><p>Men's Pants</p></li>
                    <li><p>Women's Pants</p></li>
                    <li><p>Skirts</p></li>
                    <li><p>Dresses</p></li>
                    <li><p>Men's Outerwear</p></li>
                    <li><p>Women's Outerwear</p></li>
                    <li><p>Men's Formalwear</p></li>
                    <li><p>Women's Formalwear</p></li>
                    <li><p>Other</p></li>
                </ul>
            </div>
            <div class="col-md-8">

            </div>
            <div class="col-md-2">

            </div>

        </div>


    </div>











{% endblock content %}