{% extends "campusthrift/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}
    <style>
        body {
            background-image: url(../../../static/images/background.png);
            background-repeat: repeat;
        }
    </style>

    <div id="login-overlay" class="modal-dialog modal-lg" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{ item.title }}</h4>
            </div>
            <div class="modal-body">
            <div class="row">
            <div class="col-md-9">
                <div class="simple-gallery">
								<div class="simple-gallery--preview">
									<img src="{{ pictures.0.image.url }}"/>
								</div>
								<div class="simple-gallery--thumbs">
									<ul>
                                        {% for picture in pictures|slice:"1:" %}
                                            <li>
                                                <img src="{{ picture.image.url }}"/>
                                            </li>
                                        {% endfor %}

									</ul>
								</div>
                 </div>

            </div>
            <div class="col-md-3">
                <div class="price-info">

                      <h4>Item Price</h4>
                      <p>${{ item.price }}</p>
                      <h4>Shipping Price</h4>
                      <p>${{ item.shipping_price }}</p>
                      <h4>Shipping</h4>
                      {% if item.shipping == 1 %}
                           <p>On Campus Pickup Only</p>
                      {% elif item.shipping == 2%}
                          <p>Off Campus Shipping Only</p>
                      {% else %}
                          <p>Off Campus Shipping</p>
                          <p>On Campus Pickup</p>
                      {% endif %}
                </div>
                <div class="seller-info">
                <h4>About the seller:</h4>
                      <h5>Name</h5>
                         {{ item.user.first_name }}
                    <h5>School</h5>
                    {{ seller.school }}
                        <h5>Profile</h5>
                    <a href="http://www.campusthrift.com/user/{{ item.user.username }}">campusthrift.com/user/{{ item.user.username }}</a>

                    <form id="addToCart" method="POST">
                            {%  csrf_token %}
                            <input type="hidden" name="item" value="{{ item.pk }}">
                            <button type="submit" class="save btn btn-success btn-block"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</button>
                    </form>



                  </div>

            </div>





            </div>




                <div class="row">
                    <div class="col-md-12">
                        <h4>Description:</h4>
                        {{ item.description }}
                    </div>
            </div>
        </div>
    </div>





{% endblock content %}